/* Global styles -------------------------------- */
body {
    font-family: 'Titillium Web', sans-serif;
    background-color: black
}
a {
    color: #558b2f;
}
.nav {
    z-index: 10;
}
.background-gradient {
    background: linear-gradient( 
        to top,
        rgba(255, 255, 255, 0.75), 
        rgba(255, 255, 255, 0.95) 
    );
}
.btn:hover {
    transition: transform 0.1s;
    transform: scale(1.05)
}

/* Parallax styles -------------------------------- */
.parallax-container {
    height: 93vh;
}
.parallax-container.landing {
    height: 42vh;
}

/* Modal styles -------------------------------- */
.background-image-modal {
    background: linear-gradient( 
        to top,
        rgba(255, 255, 255, 0.75), 
        rgba(255, 255, 255, 0.95) 
    ), url('../assets/images/matrix.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.modal-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh
}
.modal-overlay {
    background: #fff
}

/* storyTree styles -------------------------------- */
.node-col {
    height: 14vh;
}
.node {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
}
.hover-class {
    transition: transform 0.2s;
}
.hover-class:hover {
    transition: transform 0.2s;
    transform: scale(1.05)
}

/* Scrollspy. styles -------------------------------- */
.table-of-contents {
    position: fixed;
    top: 40%;
    margin-left: 3%;
    height: 2rem;
    z-index: 100;
}
.table-of-contents li{
    height: 50px;
}
.table-of-contents a {
    font-size: 1.5rem
}
.table-of-contents a.active {
    border-left: 2px solid #558b2f;
    color: black;
}
.table-of-contents a:hover {
    border-left: 2px solid #9ccc65;
}

/* Form styles -------------------------------- */
input[type=email]:not(.browser-default):focus {
    border-bottom: 1px solid #558b2f !important;
    box-shadow: 0 1px 0 0 #558b2f !important
}

/* Misc. styles -------------------------------- */
#credits-button {
    position: relative;
    z-index: 100;
    margin-top: 10px;
    font-size: 1.2rem

}
.new-story-tree {
    position: fixed;
    bottom: 4%;
    left: 94%;
    transition: transform 0.2s;
}
.new-story-tree:hover {
    transition: transform 0.2s;
    transform: scale(1.02)
}
.no-hover{
    pointer-events: none;
}